



body {
  background-color: darkslategrey;
}

.formSheet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid: 1fr 1fr;
  width: 500px;
  gap: 30px;
  margin: 100px;
  border: 2px solid black;
  padding: 15px;
}

.formBox {
  display: grid;
  justify-content: center;
}

input:valid {
  border: 2px solid lightgreen;
}

input:invalid {
  border: 2px dotted red;
  background-color: #ffdddd;
}

input:focus {
  outline: none;
  border-style: dashed;
}